﻿@model IEnumerable<AcerCms.Dal.Enities.News>
@{
    ViewBag.Title = "Haberler";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Yeni</button>
        </div>
    </div>
</div>


@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>UpdateDate</th>
            <th>ViewCount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var news in Model)
        {
            <tr>
                <td>@news.Title</td>
                <td>@news.UpdateDate</td>
                <td>@news.ViewCount</td>
                <td>
                    <a href="#">Düzenle</a>
                    <a href="#">Sil</a>
                </td>
            </tr>
        }
        </tbody>

        <tfoot>
        <tr>
            <td colspan="4">
                @Html.Pagination()                
            </td>
        </tr>        
        </tfoot>
    </table>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Dikkat!</strong> Henüz Haber Eklenmemiş.
            </div>
        </div>
    </div>
}    


